@font-face {
    font-family: 'Super Boys';
    src: url('./assets/fonts/SuperBoys.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply Super Boys font to all headers */
h1, h2 {
    font-family: 'Super Boys', sans-serif;
    color: var(--color-secondary);
}

h1 {
    font-size: 3.7rem;
}

h2 {
    font-size: 2.5rem;
}

body {
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
}

/* Home Page Container */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* Hero Section */
.home-container {
    min-height: 40vh; /* Full screen height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Browse Button */
.browse-link {
    font-family: 'Super Boys', sans-serif;
    font-size: 1.4rem;
    color: white;
    background-color: var(--color-dark);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.browse-link:hover {
    background-color: var(--color-hover);
}

/* About Us Section */
.about-section {
    background-color: var(--color-dark);
    text-align: center;
    color: var(--color-secondary);
    width: 80%;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px var(--color-dark);
    margin-top: 50px;
    margin-bottom: 170px;
}

.about-section h2 {
    font-size: 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-secondary);
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.4rem;
    color: var(--color-secondary);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) { 
    h1 {
        font-family: 'Super Boys', sans-serif !important;
        font-size: 2.3rem;
        color: var(--color-secondary);
    }
    h2 {
        font-size: 2rem;
    }
}