:root {
  --color-primary: rgb(33, 67, 203);
  --color-secondary: rgb(249, 249, 249);
  --color-dark: rgb(4, 8, 137);
  --color-hover: #0413b8;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-dark);
  margin: 8px;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

button:hover {
  background-color: var(--color-hover);
}

button:hover h3 {
  color: white !important;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

img {
  width: 100%;
}

a {
  color: var(--color-primary);
}


/* Spinner Container - Ensures it appears while uploading */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

/* Spinner - Visible during upload */
.spinner {
  width: 40px;
  height: 40px;
  border: 8px solid var(--color-dark);
  border-top-color: var(--color-secondary); /* Use theme color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: block; /* Ensure visibility */
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.product-image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 10px;          
}


.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 20px auto;
  padding: 0;
}

.product-item {
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.product-item h2, h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(4, 8, 137); /* blue text on white */
  margin: 10px 0 5px;
}

.product-item p {
  color: rgb(4, 8, 137);
  font-size: 1rem;
  margin: 4px 0;
}


/* Responsive Design */
@media (max-width: 768px) {
  .product-list {
      align-items: center;
  }

  .product-item {
      width: 90%;
  }
}