/* File Upload Styling */
input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(4, 8, 137);
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 7px;
}

button {
    background-color: rgb(4, 8, 137);
    color: white;
    font-size: 1.2rem;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(4, 8, 137);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }



  