/* Browse Page Styling */
.browse-container {
    text-align: center;
    padding: 20px;
    background-color: #fdf0d5;
}

/* Grid Layout */
.theme-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

/* Theme Card */
.theme-card {
    background-color: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    align-self: center;
}

/* Text Styling */
.theme-card h3 {
    color: rgb(248, 100, 1); /* Light Orange Text */
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
}

/* Hover Effect */
.theme-card:hover {
    cursor: pointer;
    background-color: #ff7043;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Change text color on hover */
.theme-card:hover h3 {
    color: white !important;
}

.product-item p {
    margin: 2px 0; /* Reduce vertical spacing */
    font-size: 0.9rem; /* Optional: Adjust font size if needed */
    line-height: 1.2; /* Reduce line height */
}

.after-products {
    margin-top: 30px;
    margin-bottom: 30px;
}
