/* Default styles for larger screens */
.header {
    display: flex;
    justify-content: space-between; /* This will place title on the left and menu on the right */
    align-items: center; /* Centers items vertically */
    background-color: #333;
    width: 100vw;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    text-decoration: none !important;
    color: white;
}

a {
    text-decoration: none !important;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 30px;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

/* Hide the hamburger on desktop */
.hamburger {
    display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
    }
    .app-name {
        padding: 0;
        text-align: center;
        width: 100%;
    }
    nav {
        width: 100%;
    }

    .navigation ul {
        display: block;
        margin-top: 10px;
        padding: 0;
        display: none; /* Hide the menu by default on mobile */
    }

    .navigation.open ul {
        display: block; /* Show the menu when it's open */
    }

    .navigation li {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    /* Hamburger icon */
    .hamburger {
        font-size: 30px;
        cursor: pointer;
        display: block;
        color: white;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: auto;
        margin-right: auto;
    }
}
