.profile-header h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Super Boys', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.greeting {
    font-size: 1.2rem;
    color: white; 
    margin-top: 10px;
}


/* Profile Header */
.profile-header {
    margin-bottom: 20px;
}

.no-products-message {
    font-size: 1.2rem;
    color: white; /* 👈 make the text white */
    margin-top: 10px;
}